.client-card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.GardenHouse {
  padding: 1rem;
  margin: 1rem;
  background-color: aliceblue;
  border-radius: 5px;
}
