@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');


body{
  font-family: 'Roboto Slab', serif;  letter-spacing: 1px;
}

html{
  scroll-behavior: smooth;
}
.App{
  background-color: rgba(0, 0, 0, 0.933);
  color: white;
  font-size: 18px;;
  font-weight: 200;
}


.jumbotron-margin{
margin-top:10%;
 background: none;
 margin-bottom: 0px!important; 

} 

.profileImg{
  border-radius: 30%;
}

p{
  word-spacing: 1px;
}
.mouse-hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cardOnHover:hover{
  opacity: 1;

  cursor: pointer;
}

.cardOnHover{
  opacity: .9;
  
}

.navbarMenu{
  background-image: radial-gradient(circle, #06060646 0%, #d2d0c82c 100%);
  background-color: rgba(0, 0, 0, 0.933);
}
.bg-dark {
  background-color: white !important;
  transition: 250ms ease;

}

.ContactButton:hover{
  cursor: pointer !important;
}

.contact-icon{
  font-size: 60px;
  color: rgba(255, 204, 0, 0.947);
  margin: 20px;
  
}

#footer{
  padding: 20px;
  background-color: rgba(31, 31, 31, 0.379);
}


.rowIcons{
  margin: auto
}

.contact-wrap-icons{
    flex-direction: column;
  }
/* Responsive query */

.projectTitle{
  font-size:40px;
  text-align: center;
}

.logosBox{
  
}
.headerIntro{
  margin-top: 20%;
}

/* .logoFlexDirection {
  display:flex;
  flex-direction: row;
  margin: auto;
} */

@media (max-width: 800px) {
  .headerText{
    flex-direction: column;
  }

  /* .logoFlexDirection {
    flex-direction: column;
    margin: auto;
  } */
  .headerIntro{
    margin-top: 1rem;
  }
  .projectTitle{
    font-size:30px;
  }
  .rowLogos{
    margin-left: auto;
  }
  .footerSection{
    flex-direction: column;
  }
  
}
@media (max-width: 430px) {
  .logoFlexDirection{
    display: flex;
flex-direction: column;
  }
  .LogosSkills{
    margin-top: 2rem;
  }
}