@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

body {
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.titleweight {
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}
.App {
  /* background-color: rgb(28, 28, 28); */
  background-image: linear-gradient(
    to top,
    #f5a523 0%,
    #44c489 30%,
    #28a9ae 46%,
    #28a2b7 59%,
    #4c7788 71%,
    #6c4f63 86%,
    #20161c 100%
  );
  color: rgb(231, 230, 230);
  font-size: 18px;
  font-weight: 200;
}

.jumbotron-margin {
  margin-top: 5%;
  background: none;
  margin-bottom: 0px !important;
}

.social-header {
  text-align: center;
  font-size: 50px;
}

.header-social-icons {
  margin: 10px;
  color: #f5a523;
  position: relative;
  z-index: 1;
}

.header-social-icons:hover {
  margin: 10px;
  color: #dbdbda;
  z-index: 1;
  transform: scale(1.5);
}

.headerText {
  font-family: "Staatliches";
  letter-spacing: 10px;
  z-index: 1;
  text-align: center;
  margin: auto;
  font-size: 100px;
}

.headerSubTextInner {
  margin: auto;
}

.profileImg {
  opacity: 0.8;
}

p {
  word-spacing: 1px;
}
.mouse-hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cardOnHover:hover {
  opacity: 1;

  cursor: pointer;
}

.cardOnHover {
  opacity: 0.9;
}

.navbarMenu {
  position: relative;
  z-index: 1;
  background-color: #559ae92c;
}

.menulink:hover {
  transform: scale(1.5);
  text-decoration: #f5a523;
}

.navbar-light {
  margin: auto;
  height: 40px;
  align-items: center;
}

.ContactButton:hover {
  cursor: pointer !important;
}

.contact-icon {
  font-size: 60px;
  /* color: rgba(255, 204, 0, 0.947); */
  color: #185516bd;
  margin: 20px;
}

/* Projects BG */

.container-card {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-image {
  width: 30%;
}

.project-text {
  text-align: center;
}
.project-paragraph {
  max-width: 30ch;
  text-align: center;
}

.divisor {
  width: 30%;
  /* transform: rotate(90deg); */
  margin: auto;
  color: white;
}

#projects {
  margin-top: 15%;
  position: relative;
  z-index: 1;
}

/* Top */
.custom-shape-divider-bottom-1629436742 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629436742 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 323px;
}

.custom-shape-divider-bottom-1629436742 .shape-fill {
  fill: #5599e9;
}

/* Education */

.educationList {
  list-style: none;
}

.educationIcon {
  margin-right: 20px;
  color: #6c4f63;
}

.educationText {
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
}
/* Botom */

.custom-shape-divider-top-1629437491 {
  position: absolute;
  bottom: -220px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1629437491 svg {
  position: relative;
  display: block;
  width: calc(208% + 1.3px);
  height: 223px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1629437491 .shape-fill {
  fill: #5599e9;
  width: 50%;
}

#footer {
  color: rgb(46, 46, 46);
  margin: auto;
  background-color: #f5a523;
  width: 100%;
}

.footerSection {
  padding: 20px;
}

.footersvg {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.footersvg svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 200px;
}

.footersvg .shape-fill {
  fill: #f5a623;
}

.rowIcons {
  margin: auto;
}

.contact-wrap-icons {
  flex-direction: column;
}
/* Responsive query */

.projectTitle {
  font-family: "Staatliches";
  color: rgb(226, 224, 224);
  font-size: 130px;
  text-align: center;
}

.projectCard {
  color: rgb(28, 28, 28);
}

.headerIntro {
  margin-top: 20%;
}

.LogosSkills {
  margin: auto;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logoSkills {
  margin: 1rem;
}

.node-container {
  width: 72px;
  height: 72px;
  background-color: rgb(71, 71, 71);
  border-radius: 50%;
}
.nodelogo {
  margin: auto;
  padding: 5px;
}

.paddingButton {
  margin: 10px;
}

/* text overflow */
.textoverflow {
  overflow-wrap: break-word;
}

@media (max-width: 800px) {
  .headerText {
    font-size: 60px;
  }

  .headerIntro {
    margin-top: 1rem;
  }
  .projectTitle {
    font-size: 30px;
  }
  .rowLogos {
    margin-left: auto;
  }
  .footerSection {
    flex-direction: column;
  }

  .LogosSkills {
    max-width: none;
  }
}
@media (max-width: 430px) {
  .logoFlexDirection {
    display: flex;
    flex-direction: column;
  }

  .projectCard {
    min-width: 100vw;
  }
  .projectsCol {
    margin: auto;
  }
  .profileImg {
    width: 50%;
  }
  .alignLogos {
    margin: auto;
  }
  .divisor {
    width: 20%;
    transform: rotate(180deg);
    margin: 2rem;
  }
  .container-card {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .project-image {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .headerText {
    margin-top: 2rem;
    font-size: 40px;
  }

  .projectsCol {
    width: 100% !important;
  }

  .divisor {
    width: 20%;
    transform: rotate(180deg);
    margin: 2rem;
  }
}

.button_slide {
  border-radius: 20px;
  margin-top: 10px;
  color: rgb(249, 249, 249);
  border: 2px solid rgb(250, 193, 35);
  border-radius: 0px;
  padding: 10px 36px;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(250, 193, 35);
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.slide_down:hover {
  color: white;
  box-shadow: inset 0 100px 0 0 #6d6d6c;
  border-radius: 40px;
}

#outer {
  margin: auto;
  text-align: center;
}

.astro {
  transform: rotate(-20deg);
  opacity: 0.4;
  width: 250px;
  position: absolute;
  top: 45%;
  right: 25%;
}

.astro-img {
  width: 100%;
}

.rocket-footer {
  width: 25%;
  opacity: 0.3;
  position: relative;
  top: 110px;
}

/* Paper plane anination and container */
/* .animation-container {
  position: absolute;

  right: 10;
  z-index: 1;
  width: 100%;
} */

.animation {
  z-index: 0;
  position: relative;
  top: 0;
  overflow: hidden;
  height: 50vh;
  padding-bottom: none !important;
}

.paper-plane {
  position: absolute;
  width: 6.5rem;
  top: 60%;
  left: -6.5rem;
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .rocket-footer {
    width: 65%;
    opacity: 0.3;
    position: relative;
    top: 110px;
    color: black;
  }
  .astro {
    visibility: hidden;
    transform: rotate(-20deg);
  }
}

/* Moon and Rocket */

.moon-container {
  opacity: 0.2;
  position: static;
  transform: translate(-35%, 60px);
}

.moon {
  background-color: #39beff;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.crater {
  background-color: #31b4ff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
}
.crater:before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #1ca4f9;
  top: 2px;
  left: 7px;
}
.crater-1 {
  top: 27px;
  left: 90px;
  transform: scale(0.9);
}
.crater-2 {
  bottom: 15px;
  left: 61px;
  transform: scale(0.6);
}
.crater-3 {
  left: 15px;
  transform: scale(0.75);
}
.crater-4 {
  left: 107px;
  top: 32px;
  transform: scale(1.18);
}
.crater-5 {
  left: 33px;
  bottom: 4px;
  transform: scale(0.65);
}
.shadow {
  height: 190px;
  width: 190px;
  box-shadow: 21px 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: relative;
  bottom: 157.5px;
  right: 46px;
}

.orbit {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.rocket {
  background-color: #fafcf7;
  height: 50px;
  width: 25px;
  border-radius: 50% 50% 0 0;
  position: relative;
  left: -11px;
  top: 115px;
}
.rocket:before {
  position: absolute;
  content: "";
  background-color: #39beff;
  height: 20px;
  width: 55px;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  right: -15px;
  bottom: 0;
}
.rocket:after {
  position: absolute;
  content: "";
  background-color: #39beff;
  height: 4px;
  width: 15px;
  border-radius: 0 0 2px 2px;
  bottom: -4px;
  left: 4.3px;
}
.window {
  height: 10px;
  width: 10px;
  background-color: #151845;
  border: 2px solid #b8d2ec;
  border-radius: 50%;
  position: relative;
  top: 17px;
  left: 5px;
}
