html{
  scroll-behavior: smooth;
}


.App{
  background-color: rgba(0, 0, 0, 0.933);
  color: white;
  font-size: 20px;;
  font-weight: 200;
  font-family: "Courier, monospace";
  width: 100%;
}
.Container{
  background-color: rgba(21, 21, 21, 0.933);
}

.jumbotron{
margin-top:10%;
 background: none;
 margin-bottom: 0px!important; 

}

.profileImg{
  border-radius: 30%;
}

p{
  word-spacing: 2px;
}
.mouse-hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cardOnHover:hover{
  opacity: 1;

  cursor: pointer;
}

.cardOnHover{
  opacity: .9;
  
}

.navbarMenu{
  background-image: radial-gradient(circle, #06060646 0%, #d2d0c82c 100%);
  background-color: rgba(0, 0, 0, 0.933);
}
.bg-dark {
  background-color: white !important;
  transition: 250ms ease;
  width: 100%;
}

.ContactButton:hover{
  cursor: pointer !important;
}

.contact-icon{
  font-size: 60px;
  color: rgba(255, 204, 0, 0.947);
  margin: 20px;
  
}

#footer{
  padding: 20px;
  background-color: rgba(31, 31, 31, 0.379);
}